article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'Osaka-Sans Serif';
  src: url("fonts/Osaka-SansSerif.eot");
  src: url("fonts/Osaka-SansSerif.eot?#iefix") format("embedded-opentype"), url("fonts/Osaka-SansSerif.woff") format("woff"), url("fonts/Osaka-SansSerif.ttf") format("truetype"), url("fonts/Osaka-SansSerif.svg#Osaka-SansSerif") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: "Osaka-Sans Serif"; }

html {
  background: #be0000;
  color: #fcff42; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.8em; }

.reloadMsg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center; }
  .reloadMsg button {
    color: #F7F2E0;
    width: 200px;
    border: none;
    background: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

img.catIcon {
  width: 100%;
  margin: 20px; }

.displayNone, .window.displayNone, .displayNone.windowPane, .displayNone.windowMinimize, .reloadMsg.displayNone {
  display: none; }

.message {
  height: 25vh; }

header {
  margin: 45px auto;
  text-align: center; }

section, form {
  font-size: 1.5em; }

.window, .windowPane, .windowMinimize {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin: 0 auto;
  border: 2px solid #bcbdba;
  height: 70vh;
  border-radius: 5px;
  background-color: #232224;
  color: #bcbdba;
  font-family: "VT323", monospace;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  overflow: hidden; }

.windowHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #bcbdba;
  color: #232224;
  height: 40px;
  padding: 5px; }
  .windowHeader .navTitle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 5px;
    color: #232224;
    font-size: 1.3em; }
  .windowHeader ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .windowHeader ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 5px 8px;
      margin: 0 3px;
      -webkit-box-shadow: -1px -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
      box-shadow: -1px -1px 1px 1px rgba(255, 255, 255, 0.5), 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
      font-size: 0.75em; }
      .windowHeader ul li:hover {
        background-color: rgba(128, 128, 128, 0.445);
        color: rgba(255, 255, 255, 0.486); }

.windowPane {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  border-radius: 0;
  border: 0;
  width: 100%;
  border-bottom: 2px solid grey;
  text-align: center;
  height: inherit;
  overflow: hidden; }

.windowMinimize {
  height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  left: 20px; }

.error {
  color: #be0000;
  font-size: 1.2em; }

section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  section .loader {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 20px auto;
    padding-top: 10px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
  section ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    section ul li {
      margin: 10px auto; }

input[type=radio] {
  margin-right: 10px; }

form ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0px; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 2.5em; }
  h2 {
    font-size: 1.6em; }
  section {
    font-size: 1.4em; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 550px) {
  form ul {
    font-size: 0.9em; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  h1 {
    font-size: 2em; }
  .windowHeader {
    font-size: 0.9em; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 380px) {
  h1 {
    font-size: 1.8em; }
  .windowHeader {
    font-size: 0.8em; }
    .windowHeader .icon {
      font-size: 0.8em; } }
